
<h1>Create a New Figure</h1>

<form action="/figures" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="figure[name]" value="figure_name" id="figure_name">

  <br></br>

Choose a landmark:

<br></br>

<% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
<%end%>

<br></br>

Or create a new landmark:

<br></br>

<input type="text" name="landmark[name]" value="landmark[name]" id="new_landmark">

<br></br>

Choose a title:

<br></br>

<% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
<%end%>

<br></br>

Or create a new title:

<br></br>

<input type="text" name="title[name]" value="title[name]" id="new_title">

<br></br>
<input type="submit" value="Create New Figure" id="Create New Figure">

</form>
